
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>

<body style="font-family: 'Roboto Slab', serif; width: 500px; margin: 30px auto; text-align: center;">


<h1>Battle!</h1>
<h2>Sign in to play</h2>
<form action="/names" method="post">
  <label form="player_1_name">Player 1 name </label>
  <input type="text" name="player_1_name">

  <label form="player_2_name">Player 2 name </label>
  <input type="text" name="player_2_name">

  <input type="submit" value="Submit">
</form>

</body>
