
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>

<body style="font-family: 'Roboto Slab', serif; width: 500px; margin: 30px auto; text-align: center;">

  <form action="/attack" method="post">
    <input type="submit" value="Attack" style = "margin-top: 15px;">
  </form>


  <p><%= @game.player_1.name %> vs. <%= @game.player_2.name %></p>
  <p><%= @game.player_2.name %>: <%= @game.player_2.hit_points %>HP</p>

  <% if @player_1_attacks %>
    <p> Player 1 attacked Player 2</p>
  <% end %>

</body>
